:root {
	--primary-color: rgba(231, 136, 12, 0.733);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* nav starts */
.logo {
	margin: -21%;
	padding-bottom: 13px;
}

header h1 {
	font-weight: bold;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: 2px 2px 5px var(--primary-color);
}
 .nav-link {
	 color: var(--primary-color);
	 font-weight: bold;
	 box-shadow: -5px 5px 6px grey;
 }
/* catch phrase  */
 section div h3 {
	text-shadow: 2px 2px 5px var(--primary-color);
 }

 /* slideshow  */
 section div img {
	 border-radius: 15%;
 }

 /* form  */
section form {
	background-color: var(--primary-color);
	border-radius: 5px;
	border-color: 2px black;
}

/* about us  */
#about-us h2{
	text-shadow: 2px 2px 5px var(--primary-color);
}